body {
    background-color: var(--el-fill-color-blank);
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.el-table .cell {
    word-break: break-word !important;
    text-overflow: initial !important;
}

.text-center {
    text-align: center;
}

.el-table__row {
    cursor: pointer;
}

.el-table thead {
    color: black !important;
}

.el-main {
    overflow: inherit !important;
}

.sticky-row {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--el-fill-color-blank);
}

.top-padding {
    top: 7.8rem;
}

.flex-grow {
    flex-grow: 1;
}

/* .category-row {
    background-color: #66b1ff5e !important;
}
.row-done {
    background-color: #66ff7291 !important;
} */

.row-disabled {
    background: var(--el-fill-color-light) !important;
}
